<!-- Loading -->
<section class="loading">
  <img class="loading__image" src="https://www.nashville.gov/Portals/0/skins/nashville/photogallery2017/img/loading.gif" alt="loading gif">
</section>

<!-- App Header -->
<section class="header">
  <h2 class="header__title">MICROBLOG APP</h2>
</section>

<!-- App content -->
<section class="container col-md-6 col-lg-12">
  <form class="form form-group">
    <div class="input-group input-group-preppend">
      <textarea #post type="text" class="form-control input-text" name="post" placeholder="Say something..." ngModel>{{ inputText }}</textarea>
      <span class="input-group-text" (click)="addPost(post.value)">
        <img class="card__button-icon" src="https://image.flaticon.com/icons/svg/1237/1237946.svg" alt="Add">
      </span>
    </div>
  </form>

  <div class="card" *ngFor="let post of postList">
    <div class="card__header">
      <div class="card__header card__header-image">
        <img class="card__image" src="{{ post.user.image }}" alt="User">
      </div>
      <div class="card__header card__header-info">
        <span class="card__header-name">{{ post.user.name }}</span>
        <span class="card__header-username">{{ post.user.username }}</span>
      </div>
    </div>
    <div class="card__body">
      <p class="card__body-content">{{ post.post.content }}</p>
    </div>
    <div class="card__buttons-container">
      <button class="card__button">
        <img class="card__button-icon" src="https://image.flaticon.com/icons/svg/1077/1077035.svg" alt="Like">
        <!-- <img src="https://image.flaticon.com/icons/svg/1077/1077086.svg" alt="Like"> -->
      </button>
      <button class="card__button">
        <img class="card__button-icon" src="https://image.flaticon.com/icons/svg/2462/2462719.svg" alt="Comment">
        <!-- <img class="card__button-icon" src="https://image.flaticon.com/icons/svg/2462/2462844.svg" alt="Comment"> -->
      </button>
      <button class="card__button">
        <img class="card__button-icon" src="https://image.flaticon.com/icons/svg/1077/1077057.svg" alt="Repost">
        <!-- <img src="https://image.flaticon.com/icons/svg/1077/1077108.svg" alt="Repost"> -->
      </button>
      <button class="card__button card__button--right">
        <img class="card__button-icon" src="https://image.flaticon.com/icons/svg/1345/1345874.svg" alt="Delete">
      </button>
      <button class="card__button card__button--right">
        <img class="card__button-icon" src="https://image.flaticon.com/icons/svg/2089/2089209.svg" alt="Edit">
      </button>
    </div>
  </div>
</section>

<!-- App Menu -->
<section class="menu">
  <a routerLink="/" routerLinkActive="active" class="menu__item menu__item--active">
    <img class="menu__item-icon" src="https://image.flaticon.com/icons/svg/1946/1946436.svg" alt="Home">
    <!-- <img class="menu__item-icon" src="https://image.flaticon.com/icons/svg/1946/1946488.svg" alt="Home"> -->
  </a>
  <a routerLink="/search" routerLinkActive="active" class="menu__item">
    <img class="menu__item-icon" src="https://image.flaticon.com/icons/svg/483/483356.svg" alt="Search">
    <!-- <img class="menu__item-icon" src="https://image.flaticon.com/icons/svg/482/482631.svg" alt="Search"> -->
  </a>
  <a href="/notifications" class="menu__item">
    <img class="menu__item-icon" src="https://image.flaticon.com/icons/svg/2097/2097743.svg" alt="Notification">
    <!-- <img class="menu__item-icon" src="https://image.flaticon.com/icons/svg/633/633816.svg" alt="Notification"> -->
  </a>
  <a href="/profile" class="menu__item">
    <img class="menu__item-icon" src="https://image.flaticon.com/icons/svg/1077/1077063.svg" alt="User">
    <!-- <img class="menu__item-icon" src="https://image.flaticon.com/icons/svg/1077/1077114.svg" alt="User"> -->
  </a>
</section>